.container {
  margin: auto;
  padding-top: 2rem;
  max-width: min(95vw, 1100px);
  max-width: min(95svw, 1100px);

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.header {
  font-family: "Sriracha", cursive;
}

.paragraph {
  font-family: "Sriracha", cursive;
}

.home-img {
  justify-self: center;
  /* margin: auto; */
  max-width: 95vw;
  max-width: 95svw;
  height: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 50ch;
}

@media screen and (min-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
