.removeButton {
  margin-left: 2rem;
  width: fit-content;
  padding: 0 0.3rem;
}

.list {
  padding-top: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  gap: 0.5rem;
  & button {
    padding: 0 0.4rem;
  }
}
