* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: black 1px dashed; */
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 2rem;
  font-family: "Sriracha", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}
